<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tunjid.rcswitchcontrol.a433mhz" >

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application>
        <service
            android:name=".services.ClientBleService"
            android:enabled="true"
            android:label="@string/service_name" />
    </application>
</manifest>
