<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rcswitchcontrol.protocols" >
    <application>
        <provider
            android:authorities="${applicationId}.contextProvider"
            android:exported="false"
            android:enabled="true"
            android:name=".ContextProvider" />
    </application>
</manifest>
